@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

:root{
    --white: #fff;
    --black: #000;
    --orange: #FFB084;
    --font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
}

section {
    display: grid;
    margin-top: 2%;
    width: 61%;
    grid-template-columns: 35% 28% 30%;
    grid-template-rows: repeat(4, 7.4rem);
    padding: 2.5% 2.7%;
    background-color: var(--orange);
    border-radius: 1.2rem;
    gap: 1.3rem;
}

section div {
    background-color: var(--white);
    color: var(--black);
    font-size: 1.1rem;
    border-radius: 1.2rem;
}

section div:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
}

section div:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
}

section div:nth-child(4) {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

section div:nth-child(5) {
    grid-row-start: 3;
    grid-row-end: 5;
}

section div:nth-child(7) {
    grid-row-start: 4;
    grid-row-end: 5;
}

.Me {
    box-shadow: 7px 7px 0px 0px #000;
}

span.John {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
    font-size: 1.9rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

div .ell {
    display: flex;
    justify-content: center;
}

div .ell img {
    width: 37%;
}

.age {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .age span {
    display: inline-block;
  }
  
  .age span.separator {
    margin: 0 1.3%;
  }
  
  .age span.label-gap {
    margin-right: 5%;
  }

  .age .label {
    font-weight: 600;
  }

  .age .value {
    font-weight: 400;
  }

  .age.left {
    justify-content: left;
    margin-left: 8.3%;
}

.age.left .separator {
    margin: 0;
}

.age.left span.separator {
    margin: 0 1.4%;
  }
  
  .want {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.25%;
    font-weight: 700;
    font-size: 20px;
    box-shadow: 7px 7px 0px 0px #000;
    height: 80%;
  }

  .bio {
    font-weight: 700;
    padding: 1rem 1.8rem 1.7rem 1.7rem;
    overflow: hidden;
    box-shadow: 7px 7px 0px 0px #000;
  }

  div.bio h3,
  div.bio h4 {
    margin: 0;
    padding: 0;
  }
  
  div.bio h3 {
    padding-bottom: 1%;
    font-size: 1.1rem;
  }

  div.bio h4 {
    font-size: 1rem;
    font-weight: 400;
  }

  .goals {
    padding: 1rem;
font-size: 1.1rem;
overflow: hidden;
box-shadow: 7px 7px 0px 0px #29A71E;
  }
 
  ul.goal {
    margin: 0;
    margin-top: 0.2rem;
  }

  div.goals span {
    padding-left: 1rem;
    color: #29A71E;
    font-weight: 700;
  }

  
  .fruit {
    padding: 1rem;
font-size: 1.1rem;
overflow: hidden;
box-shadow: 7px 7px 0px 0px #E13535;
  }
 
  ul.juice {
    margin: 0;
    margin-top: 0.8rem;
    padding-left: 2.9rem;
    padding-right: 2.3rem;
  }

  div.fruit span {
    padding-left: 1.5rem;
    color:  #E13535;
    font-weight: 700;
  }

  div.fruit li{
    margin-top: 0.5rem;
  }

  
  .dream {
    padding: 1rem;
font-size: 1.1rem;
overflow: hidden;
box-shadow: 7px 7px 0px 0px #3675B0;
height: 91.1%;
  }
 
  ul.company {
    margin: 0;
    margin-top: 1.2rem;
    padding-left: 2.6rem;
    padding-right: 2.3rem;
  }

  div.dream span {
    padding-left: 1rem;
    color: #3675B0;
    font-weight: 700;
  }

  div.dream li{
    margin-top: 0.6rem;
  }
  
  .person {
    font-weight: 700;
    padding: 1rem 1.8rem 1.7rem 2.4rem;
    overflow: hidden;
    box-shadow: 7px 7px 0px 0px #000;
    height: 80.6%;
  }

  div.person h3,
  div.person h4 {
    margin: 0;
    padding: 0;
  }
  
  div.person h3 {
    font-size: 1.1rem;
    padding-bottom: 0.4rem;
  }

  div.person h4 {
    font-size: 1rem;
    font-weight: 400;
}
